xwiki-platform-core/xwiki-platform-user/xwiki-platform-user-rest/xwiki-platform-user-rest-api/src/main/resources/xwiki.rest.user.model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 *
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xwiki.org/user"
  xmlns:user="http://www.xwiki.org/user" xmlns:xwiki="http://www.xwiki.org"  elementFormDefault="qualified">

  <!-- Import the xwiki.rest.model.xsd because we reuse the xwiki:LinkCollection and xwiki:Map types. -->
  <import namespace="http://www.xwiki.org"/>

  <complexType name="UserSummary">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="firstName" type="string"></element>
          <element name="lastName" type="string"></element>
          <element name="avatarUrl" type="string"></element>
          <element name="global" type="boolean"></element>
          <element name="xwikiRelativeUrl" type="string"></element>
          <element name="xwikiAbsoluteUrl" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="UserPreferences">
    <sequence>
      <element name="displayHiddenDocuments" type="boolean"></element>
      <element name="underlineLinks" type="string"></element>
      <element name="timezone" type="string"></element>
      <element name="editor" type="string"></element>
      <element name="advanced" type="boolean"></element>
    </sequence>
  </complexType>

  <complexType name="User">
    <complexContent>
      <extension base="user:UserSummary">
        <sequence>
          <element name="displayName" type="string"></element>
          <element name="company" type="string"></element>
          <element name="about" type="string"></element>
          <element name="email" type="string"></element>
          <element name="phone" type="string"></element>
          <element name="address" type="string"></element>
          <element name="blog" type="string"></element>
          <element name="blogFeed" type="string"></element>
          <element name="preferences" type="user:UserPreferences" minOccurs="0"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="users">
    <complexType>
      <sequence>
        <element name="userSummary" type="user:UserSummary" minOccurs="0" maxOccurs="unbounded"></element>
      </sequence>
    </complexType>
  </element>

  <element name="user" type="user:User"></element>
</schema>
