xwiki-platform-core/xwiki-platform-rest/xwiki-platform-rest-model/src/main/resources/xwiki.rest.model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  *
  * See the NOTICE file distributed with this work for additional
  * information regarding copyright ownership.
  *
  * This is free software; you can redistribute it and/or modify it
  * under the terms of the GNU Lesser General Public License as
  * published by the Free Software Foundation; either version 2.1 of
  * the License, or (at your option) any later version.
  *
  * This software is distributed in the hope that it will be useful,
  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  * Lesser General Public License for more details.
  *
  * You should have received a copy of the GNU Lesser General Public
  * License along with this software; if not, write to the Free
  * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  *
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xwiki.org"
  xmlns:xwiki="http://www.xwiki.org" elementFormDefault="qualified">

  <complexType name="Link">
    <attribute name="href" type="string"></attribute>
    <attribute name="rel" type="string"></attribute>
    <attribute name="type" type="string"></attribute>
    <attribute name="hrefLang" type="string"></attribute>
  </complexType>

  <complexType name="LinkCollection">
    <sequence>
      <element name="link" type="xwiki:Link" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>

  <complexType name="Translations">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="translation" type="xwiki:Translation"
            minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
        <attribute name="default" type="string"></attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Translation">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <attribute name="language" type="string"></attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="XWiki">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="version" type="string"></element>
          <element name="syntaxes" type="xwiki:Syntaxes"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Wiki">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="name" type="string"></element>
          <element name="description" type="string"></element>
          <element name="owner" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Space">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="wiki" type="string"></element>
          <element name="name" type="string"></element>
          <element name="home" type="string"></element>
          <element name="xwikiRelativeUrl" type="string"></element>
          <element name="xwikiAbsoluteUrl" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="PageSummary">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="fullName" type="string"></element>
          <element name="wiki" type="string"></element>
          <element name="space" type="string"></element>
          <element name="name" type="string"></element>
          <element name="title" type="string"></element>
          <element name="rawTitle" type="string"></element>
          <element name="parent" type="string"></element>
          <element name="parentId" type="string"></element>
          <element name="version" type="string"></element>
          <element name="author" type="string"></element>
          <element name="authorName" type="string"></element>
          <element name="xwikiRelativeUrl" type="string"></element>
          <element name="xwikiAbsoluteUrl" type="string"></element>
          <element name="translations" type="xwiki:Translations"></element>
          <element name="syntax" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Page">
    <complexContent>
      <extension base="xwiki:PageSummary">
        <sequence>
          <element name="language" type="string"></element>
          <element name="majorVersion" type="int"></element>
          <element name="minorVersion" type="int"></element>
          <element name="hidden" type="boolean" minOccurs="0"></element>
          <element name="created" type="dateTime"></element>
          <element name="creator" type="string"></element>
          <element name="creatorName" type="string"></element>
          <element name="modified" type="dateTime"></element>
          <element name="modifier" type="string"></element>
          <element name="modifierName" type="string"></element>
          <element name="originalMetadataAuthor" type="string"></element>
          <element name="originalMetadataAuthorName" type="string"></element>
          <element name="comment" type="string"></element>
          <element name="content" type="string"></element>
          <element name="class" type="xwiki:Class" minOccurs="0" maxOccurs="1"></element>
          <element name="objects" type="xwiki:Objects" minOccurs="0" maxOccurs="1"></element>
          <element name="attachments" type="xwiki:Attachments" minOccurs="0" maxOccurs="1"></element>
          <element name="hierarchy" type="xwiki:Hierarchy" minOccurs="0"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="HistorySummary">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="pageId" type="string"></element>
          <element name="wiki" type="string"></element>
          <element name="space" type="string"></element>
          <element name="name" type="string"></element>
          <element name="version" type="string"></element>
          <element name="majorVersion" type="int"></element>
          <element name="minorVersion" type="int"></element>
          <element name="modified" type="dateTime"></element>
          <element name="modifier" type="string"></element>
          <element name="modifierName" type="string"></element>
          <element name="language" type="string"></element>
          <element name="comment" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Attachment">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="name" type="string"></element>
          <element name="size" type="int"></element>
          <element name="longSize" type="long"></element>
          <element name="version" type="string"></element>
          <element name="pageId" type="string"></element>
          <element name="pageVersion" type="string"></element>
          <element name="mimeType" type="string"></element>
          <element name="author" type="string"></element>
          <element name="authorName" type="string"></element>
          <element name="date" type="dateTime"></element>
          <element name="xwikiRelativeUrl" type="string"></element>
          <element name="xwikiAbsoluteUrl" type="string"></element>
          <element name="hierarchy" type="xwiki:Hierarchy" minOccurs="0"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Comment">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="int"></element>
          <element name="pageId" type="string"></element>
          <element name="author" type="string"></element>
          <element name="authorName" type="string"></element>
          <element name="date" type="dateTime"></element>
          <element name="highlight" type="string"></element>
          <element name="text" type="string"></element>
          <element name="replyTo" type="int" nillable="true"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="ObjectSummary">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="guid" type="string"></element>
          <element name="pageId" type="string"></element>
          <element name="pageVersion" type="string"></element>
          <element name="wiki" type="string"></element>
          <element name="space" type="string"></element>
          <element name="pageName" type="string"></element>
          <element name="pageAuthor" type="string"></element>
          <element name="pageAuthorName" type="string"></element>
          <element name="className" type="string"></element>
          <element name="number" type="int"></element>
          <element name="headline" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Object">
    <complexContent>
      <extension base="xwiki:ObjectSummary">
        <sequence>
          <element name="property" type="xwiki:Property" minOccurs="0"
            maxOccurs="unbounded">
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Property">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="attribute" type="xwiki:Attribute" maxOccurs="unbounded"
            minOccurs="0"></element>
          <element name="value" type="string"></element>
        </sequence>

        <attribute name="name" type="string" use="required"></attribute>

        <attribute name="type" type="string" use="optional"></attribute>

      </extension>
    </complexContent>
  </complexType>


  <complexType name="Attribute">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <attribute name="name" type="string" use="required"></attribute>

        <attribute name="value" type="string"></attribute>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Class">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="name" type="string"></element>
          <element name="property" type="xwiki:Property" minOccurs="0"
            maxOccurs="unbounded"></element>
        </sequence>

      </extension>
    </complexContent>
  </complexType>

  <complexType name="JobProgress">
    <sequence>
      <element name="offset" type="double"></element>
      <element name="currentLevelOffset" type="double"></element>
    </sequence>
  </complexType>

  <complexType name="LogEvent">
    <sequence>
      <element name="level" type="string"></element>
      <element name="date" type="dateTime"></element>
      <element name="formattedMessage" type="string"></element>
    </sequence>
  </complexType>

  <complexType name="Log">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="logEvent" type="xwiki:LogEvent" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="JobStatus">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string" minOccurs="0"
            maxOccurs="1">
          </element>
          <element name="request" type="xwiki:JobRequest" minOccurs="0"
            maxOccurs="1">
          </element>
          <element name="state" type="string"></element>
          <element name="progress" type="xwiki:JobProgress"
            minOccurs="0" maxOccurs="1">
          </element>
          <element name="log" type="xwiki:Log" minOccurs="0"
            maxOccurs="1">
          </element>
          <element name="startDate" type="dateTime"></element>
          <element name="endDate" type="dateTime"></element>
          <element name="serialized" type="boolean" minOccurs="0" maxOccurs="1"></element>
          <element name="isolated" type="boolean" minOccurs="0" maxOccurs="1"></element>
          <element name="errorMessage" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="JobRequest">
    <sequence>
      <element name="id" type="xwiki:JobId" maxOccurs="1"
        minOccurs="0">
      </element>
      <element name="interactive" type="boolean"></element>
      <element name="remote" type="boolean"></element>
      <element name="verbose" type="boolean" default="true"></element>
      <element name="statusSerialized" type="boolean" minOccurs="0" maxOccurs="1"></element>
      <element name="statusLogIsolated" type="boolean" minOccurs="0"
        maxOccurs="1">
      </element>
      <element name="property" type="xwiki:MapEntry" minOccurs="0"
        maxOccurs="unbounded">
      </element>
    </sequence>
  </complexType>

  <complexType name="Client">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="ip" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <!--
  *
  * ELEMENTS
  *
  -->

  <element name="xwiki" type="xwiki:XWiki"></element>

  <element name="wikis">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <element name="wiki" type="xwiki:Wiki" minOccurs="0"
              maxOccurs="unbounded"></element>
          </sequence>

        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="spaces">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <element name="space" type="xwiki:Space" minOccurs="0"
              maxOccurs="unbounded"></element>
          </sequence>

        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="pages">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <element name="pageSummary" type="xwiki:PageSummary"
              minOccurs="0" maxOccurs="unbounded"></element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="wiki" type="xwiki:Wiki"></element>

  <element name="space" type="xwiki:Space"></element>

  <element name="page" type="xwiki:Page"></element>

  <element name="history">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <element name="historySummary" type="xwiki:HistorySummary"
              minOccurs="0" maxOccurs="unbounded">
            </element>
          </sequence>

        </extension>
      </complexContent>
    </complexType>
  </element>

  <complexType name="Attachments">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="attachment" type="xwiki:Attachment"
            minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="attachments" type="xwiki:Attachments"></element>

  <element name="comments">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <element name="comment" type="xwiki:Comment" minOccurs="0"
              maxOccurs="unbounded"></element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="comment" type="xwiki:Comment"></element>

  <element name="attachment" type="xwiki:Attachment"></element>

  <element name="property" type="xwiki:Property"></element>

  <element name="propertyValues">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <!-- We replace "anyType" with the actual type in the separate bindings file. We do this becuase we want to
              control how the property value meta data (a Map) is serialized in JSON format. -->
            <element name="propertyValue" type="anyType" minOccurs="0" maxOccurs="unbounded"></element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <element name="class" type="xwiki:Class"></element>

  <element name="classes">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <element name="class" type="xwiki:Class" minOccurs="0"
              maxOccurs="unbounded"></element>
          </sequence>

        </extension>
      </complexContent>
    </complexType>
  </element>

  <complexType name="Objects">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="objectSummary" type="xwiki:ObjectSummary"
            minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="objects" type="xwiki:Objects"></element>

  <element name="object" type="xwiki:Object"></element>


  <element name="translations" type="xwiki:Translations"></element>

  <complexType name="Properties">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="property" type="xwiki:Property"
            minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>

      </extension>
    </complexContent>
  </complexType>

  <element name="properties" type="xwiki:Properties"></element>

  <element name="objectSummary" type="xwiki:ObjectSummary"></element>

  <complexType name="Tag">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <attribute name="name" type="string"></attribute>
      </extension>
    </complexContent>
  </complexType>

  <element name="tag" type="xwiki:Tag"></element>

  <element name="tags">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <element name="tag" type="xwiki:Tag" minOccurs="0"
              maxOccurs="unbounded"></element>
          </sequence>
        </extension>
      </complexContent>
    </complexType>
  </element>

  <complexType name="SearchResult">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="type" type="string"></element>
          <element name="id" type="string"></element>
          <element name="pageFullName" type="string"></element>
          <element name="title" type="string"></element>
          <element name="wiki" type="string"></element>
          <element name="space" type="string"></element>
          <element name="pageName" type="string"></element>
          <element name="modified" type="dateTime"></element>
          <element name="author" type="string"></element>
          <element name="authorName" type="string"></element>
          <element name="version" type="string"></element>
          <element name="language" type="string"></element>
          <element name="className" type="string" minOccurs="0"></element>
          <element name="objectNumber" type="int" minOccurs="0"></element>
          <element name="filename" type="string" minOccurs="0"></element>
          <element name="score" type="float" minOccurs="0"></element>
          <element name="object" type="xwiki:Object" minOccurs="0"></element>
          <element name="hierarchy" type="xwiki:Hierarchy" minOccurs="0"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="searchResult" type="xwiki:SearchResult"></element>

  <element name="searchResults">
    <complexType>
      <complexContent>
        <extension base="xwiki:LinkCollection">
          <sequence>
            <element name="searchResult" type="xwiki:SearchResult"
              minOccurs="0" maxOccurs="unbounded"></element>
          </sequence>
          <attribute name="template" type="string"></attribute>
        </extension>
      </complexContent>
    </complexType>
  </element>


  <complexType name="Syntaxes">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="syntax" type="string" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="syntaxes" type="xwiki:Syntaxes"></element>

  <element name="jobStatus" type="xwiki:JobStatus"></element>

  <element name="jobLog" type="xwiki:Log"></element>

  <element name="jobRequest" type="xwiki:JobRequest"></element>

  <element name="client" type="xwiki:Client"></element>

  <complexType name="MapEntry">
    <sequence>
      <element name="key" type="string"></element>
      <element name="value" type="anyType"></element>
    </sequence>
  </complexType>

  <complexType name="Map">
    <sequence>
      <element name="entry" type="xwiki:MapEntry" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>


  <complexType name="JobId">
    <sequence>
      <element name="element" type="string" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>

  <complexType name="HierarchyItem">
    <sequence>
      <element name="label" type="string"></element>
      <element name="name" type="string"></element>
      <element name="type" type="string"></element>
      <element name="url" type="string"></element>
    </sequence>
  </complexType>

  <complexType name="Hierarchy">
    <sequence>
      <element name="item" type="xwiki:HierarchyItem" minOccurs="0" maxOccurs="unbounded"></element>
    </sequence>
  </complexType>
</schema>
