xwiki-platform-core/xwiki-platform-distributionwizard/xwiki-platform-distributionwizard-rest/src/main/resources/xwiki.rest.distributionWizard.model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 *
 * See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 *
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.xwiki.org/distributionWizard"
  xmlns:distributionWizard="http://www.xwiki.org/distributionWizard" xmlns:xwiki="http://www.xwiki.org"
  elementFormDefault="qualified">

  <!-- Import the xwiki.rest.model.xsd because we reuse the xwiki:LinkCollection and xwiki:Map types. -->
  <import namespace="http://www.xwiki.org"/>

  <!--
  *
  * Types
  *
  -->

  <complexType name="Steps">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="step" type="distributionWizard:Step" minOccurs="0" maxOccurs="unbounded"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="Step">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <sequence>
          <element name="id" type="string"></element>
          <element name="title" type="string"></element>
          <element name="index" type="int"></element>
          <element name="optional" type="boolean"></element>
          <element name="hidden" type="boolean"></element>
          <element name="done" type="boolean"></element>
          <element name="html" type="string"></element>
          <element name="uiComponent" type="distributionWizard:UIComponent"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <complexType name="UIComponent">
    <complexContent>
      <extension base="xwiki:LinkCollection">
        <attribute name="module" type="string"></attribute>
        <attribute name="component" type="string"></attribute>
      </extension>
    </complexContent>
  </complexType>

  <!--
  *
  * Elements
  *
  -->

  <element name="steps" type="distributionWizard:Steps"></element>

  <element name="step" type="distributionWizard:Step"></element>
</schema>